{% extends 'html/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <!-- вот сюда основной контент  -->
    <div class="create_publication_body">
        <h1 align="center">Публикация</h1>
        <form method='post' class="registration_body" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p  }}

            {% if categories %}
                <!-- category элемент откуда беру данные, его указывать в реквесте -->
                <select name="category" required class="form-select" aria-label="Default select example">
                    {% for el in categories %}
                        <option>{{el.name}}</option>
                    {% endfor %}
                </select>
            {% endif %}<br>

            <button type="submit" class="btn btn-primary btn-block" >создать</button>
        </form>
    </div>
{% endblock %}